<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    <link rel="preload" href="https://use.typekit.net/ytf1tlj.css" as="style" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/ytf1tlj.css" crossorigin>
    <style>
      body { font-family: "motiva-sans", 'Montserrat', Helvetica, Arial, sans-serif; font-weight: 100; }
      h1, h2, .heading-2, h3, h4, h5, h6 {
        font-family: "motiva-sans", 'Montserrat', Helvetica, Arial, sans-serif;
      }
      button, table, img, input { border-radius: 0 !important; }
    </style>
    {{ checkout_scripts }}

    <!-- CUSTOM CODE. JQUERY. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- END CC -->

    <!-- heap -->
    <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      	heap.load("1554988365");
      	var customerEmail = '{{ customer.email }}' || '{{ checkout.email }}';
      	heap.identify(customerEmail);
      	heap.addUserProperties({'Name': '{{ customer.name }}','email': customerEmail,'CustomerID':'{{ customer.id }}','TotalSpent':'{{ customer.total_spent }}'});
    </script>
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <script>
      $(document).on(`page:load page:change`, function() {
        if(Shopify.Checkout.step == 'shipping_method') {
          $(document).on('load readystatechange', function(){
            // wait for shipping rates to calculate
            setTimeout(function(){
              // add note to USPS Priority Mail shipping rate
            	let usps = $(".section--shipping-method").find(`[data-shipping-method-label-title="Priority Mail"]`);
              let currentText = usps.find('.small-text').text();
              let newText = currentText+'. May be delayed additional 1-2 business days due to USPS delays.';
              usps.find('.small-text').text(newText);
            }, 2500);
          });
        }
      });
    </script>
  </body>
</html>
