{% include 'info__hero' %}
<div class="wrap">
  <div class="grid">
    <div class="grid__item one-whole medium-up--two-thirds">
      {{ section.settings.body_txt }}
      <p>
    </div>
  </div>
</div>
<div class="pad-y">
  <div class="wrap wrap--max">
    <div class="flex-grid flex-grid--2x-gutter">
      {% for block in section.blocks %}
        <div class="flex-grid__item one-whole medium-up--one-half">
          <div class="gray-block">
            <h2>{{ block.settings.headline }}</h2>
            {{ block.settings.body }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% comment %}
<div class="wrap wrap--max pad-y">
  <div class="flex-grid flex-grid--2x-gutter flex-grid--gray">
    {% for block in section.blocks %}
      <div class="flex-grid__item one-whole medium-up--one-half">
        <div class="gray-block">
        <h2>{{ block.settings.headline }}</h2>
        {{ block.settings.body }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endcomment %}

{% schema %}
  {
    "name": "Distribution",
    "settings": [
      {
        "id": "hero_img",
        "type": "image_picker",
        "label": "Info Hero Image"
      },
      {
        "type": "text",
        "id": "hero_txt",
        "label": "Hero Text Headline"
      },
      {
        "type": "header",
        "content": "Body Copy"
      },
      {
        "type": "richtext",
        "id": "body_txt",
        "label": "Body"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Distribution Block",
        "settings": [
          {
            "id": "headline",
            "type": "text",
            "label": "Headline"
          },
          {
            "id": "body",
            "type": "richtext",
            "label": "Body"
          }
        ]
      }
    ]
  }
{% endschema %}
