<style type="text/css">
  #hero-{{ section.id }} {
    background: #5F7767;
    background: {{ section.settings.hero_bgcolor }};
    color: #fff;
    color: {{ section.settings.hero_txtcolor }};
    height: 100%;
  }
  #hero-{{ section.id }} .hero__wrap {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 100px 20px 40px 20px;
  }
  #hero-{{ section.id }} .hero__text {

  }
  #hero-{{ section.id }} .hero__text p {
    margin-bottom: 0;
  }
  #hero-{{ section.id }} .hero__text,
  #hero-{{ section.id }} .hero__ugc {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero__ugc-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: repeat(1, 20fr);
    grid-auto-flow: row;
    margin-top: 40px;
    grid-auto-rows: minmax(50fr, auto)
  }
  .hero__ugc-grid__item {
    grid-area: span 1 / span 1;
    position: relative;
    line-height: 0;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    display: flex;
  }
  .hero__ugc-grid__item.hero__ugc-grid__item--big {
    grid-area: span 2 / span 2;
    display: block;
  }
  .hero__ugc-grid__media {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
  }
  .hero__ugc-grid__media img,
  .hero__ugc-grid__media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
  .hero__ugc-grid__media a {
    position: absolute;
    z-index: 2;
    line-height: 1;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #fff !important;
    display: inline-block;
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
  #hero-{{ section.id }} .hero__text__cta, .hero__text p {
    margin-top: 20px;
  }
  #hero-{{ section.id }} h1 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  @media (min-width: 375px) {
    #hero-{{ section.id }} h1 {
      font-size: 1.8rem;
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    .cta-arrow--big {
      font-size: 18px;
    }
  }
  @media (min-width: 769px) {
    #hero-{{ section.id }} .hero__wrap {
      padding: 100px 40px 60px 40px;
    }
    .hero__ugc-grid {
      margin-top: 50px;
    }
    #hero-{{ section.id }} .hero__text__cta {
      margin-top: 40px;
    }
    #hero-{{ section.id }} .hero__text p {
      margin-top: 20px;
    }
    #hero-{{ section.id }} h1 {
      font-size: 2rem;
      margin-top: 0;
    }
    #hero-{{ section.id }} .cta-arrow--big {
      font-size: 20px;
    }
  }
  @media (min-width: 1024px) {
    #hero-{{ section.id }} .hero__wrap {
      padding: 93px 30px 30px 30px;
      flex-direction: row;
    }
    #hero-{{ section.id }} .hero__text {
      max-width: 360px;
      width: 25%;
      padding-right: 50px;
    }
    #hero-{{ section.id }} .hero__ugc {
      flex-grow: 1;
      width: 75%;
    }
    .hero__ugc-grid {
      grid-gap: 1.5vw;
      grid-template-columns: repeat(5, 20fr);
      grid-template-rows: 50fr 50fr;
      grid-auto-flow: column;
      margin-top: 0;
    }
  }
  @media (min-width: 1140px) {
    #hero-{{ section.id }} h1 {
      font-size: 2.5rem;
    }
    #hero-{{ section.id }} .cta-arrow--big {
      font-size: 20px;
    }
  }
  #hero-{{ section.id }} a {
    color: {{ section.settings.hero_txtcolor }};
    border-color: {{ section.settings.hero_txtcolor }};
  }
  #hero-{{ section.id }} .btn-cta {
    color: {{ section.settings.hero_txtcolor }};
    border-color: {{ section.settings.hero_txtcolor }};
  }
</style>
<script>
$(document).ready(function(){
  $('#ugc-vid1').trigger('play');
  $('#ugc-vid1').on('play',function(){
    setTimeout(function(){
      $('#ugc-vid2').trigger('play');
    }, 3800);
    setTimeout(function(){
      $('#ugc-vid1').trigger('play');
    }, 13320);
  });
  $('#ugc-vid1').on('ended',function(){
    $('#ugc-vid1').trigger('pause');
  });
  $('#ugc-vid2').on('ended',function(){
    $('#ugc-vid2').trigger('pause');
    //console.log('second video ended!');
  });
  // $('video').on('ended',function(){
  //
  //   $(this).pause();
  //   $('ugc-vid1').trigger('play');
  // });
});

  // var currentBlock;
  // function randomImage() {
  //   let blocks = $('.hero__ugc-grid__media:visible');
  //   var number = Math.floor(Math.random() * blocks.length);
  //   if (number == currentBlock) {
  //     number += 1;
  //   }
  //   blocks.eq(number).each(function() {
  //     let next = $(this).next().length ? $(this).next() : $(this).parent().find('.hero__ugc-grid__media:eq(0)');
  //     $(this).fadeOut(1000);
  //     next.fadeIn(1000);
  //     currentBlock = number;
  //   });
  // }
  // setInterval(randomImage, 3050); // then every 1 second afterward
</script>
<div class="hero hero--ugc" id="hero-{{ section.id }}">
  {% if section.settings.hero_type == 'hero--video' %}
  <div class="hero__video{% if section.settings.hide_video_on_mobile %} hide-mobile{% endif %}">
    <video width="16" height="9" preload playsinline muted>
      <source src="{{ section.settings.hero_video_url }}" type="video/mp4">
    </video>
  </div>
  {% endif %}
  <!--div class="hero__overlay"></div-->
  <div class="hero__wrap">
    <div class="hero__text text-center--mobile {{ section.settings.hero_txt_align }} {{ section.settings.hero_txt_align_mobile }}" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1100" data-aos-once="true" data-aos-anchor=".hero">
      <h1>{{ section.settings.hero_headline }}</h1>
      {% if section.settings.hero_text != blank %}
      <p>{{ section.settings.hero_text }}</p>
      {% endif %}
      {% if section.settings.hero_cta1_txt != blank %}
      <div class="hero__text__cta">
        {% if section.settings.hero_cta2_txt != blank %}
          <ul class="inline-list">
            <li>
              <a class="cta-arrow cta-arrow--big" href="{{ section.settings.hero_cta1_url }}">{{ section.settings.hero_cta1_txt }}</a>
            </li>
            <li>
              <a class="cta-arrow cta-arrow--big" href="{{ section.settings.hero_cta2_url }}">{{ section.settings.hero_cta2_txt }}</a>
            </li>
          </ul>
        {% else %}
          <a class="cta-arrow cta-arrow--big" href="{{ section.settings.hero_cta1_url }}">{{ section.settings.hero_cta1_txt }}</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="hero__ugc" data-aos="fade" data-aos-delay="1500" data-aos-duration="1100" data-aos-once="true" data-aos-anchor=".hero">
      <div class="hero__ugc-grid">
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/1002/8980/files/jule.claire_2_800x1000_crop_center.jpg?v=1595961431">
            <a href="https://instagram.com/jule.claire" target="_blank" rel="noreferrer">@jule.claire</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <video width="4" id="ugc-vid1" height="5" preload playsinline muted>
              <source src="https://cdn.shopify.com/s/files/1/1002/8980/files/WP_VM_Baggu_x_Porter_Editorial_01_600x750px_loop.mp4?v=1595964359" type="video/mp4">
            </video>
            <a href="https://instagram.com/baggu" target="_blank" rel="noreferrer">@baggu</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item hero__ugc-grid__item--big">
          <div class="hero__ugc-grid__media">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/1002/8980/files/porterco_aplatsf_comp_800x1000_crop_center.jpg?v=1595961665">
            <a href="https://instagram.com/aplatsf" target="_blank" rel="noreferrer">@aplatsf</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <video id="ugc-vid2" width="4" height="5" preload playsinline muted>
              <source src="https://cdn.shopify.com/s/files/1/2788/6486/files/Porter_Bowl_Ceramic_Cream_mojalvo.mp4?v=1586370838" type="video/mp4">
            </video>
            <a href="https://instagram.com/mojalvo" target="_blank" rel="noreferrer">@mojalvo</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/1002/8980/files/bottlecream_raquellucine_2_800x1000_crop_center.jpg?v=1595961431">
            <a href="https://instagram.com/raquellucine" target="_blank" rel="noreferrer">@raquellucine</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/1002/8980/files/bottlemint_montanamermaid_800x1000_crop_center.jpg?v=1595961430" style="object-position: right center;">
            <a href="https://instagram.com/montanamermaid" target="_blank" rel="noreferrer">@montanamermaid</a>
          </div>
        </div>
        <div class="hero__ugc-grid__item">
          <div class="hero__ugc-grid__media">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/1002/8980/files/kwoloshin_7_800x1000_crop_center.jpg?v=1595961431">
            <a href="https://instagram.com/kwoloshin" target="_blank" rel="noreferrer">@kwoloshin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  	"name": "UGC Hero Area",
  	"settings": [
      {
        "type": "color",
        "id": "hero_bgcolor",
        "label": "Hero Background Color",
        "default": "#5F7767"
      },
      {
      	"type": "color",
      	"id": "hero_txtcolor",
      	"label": "Hero Text Color",
      	"default": "#fff"
      },
      {
        "type": "select",
        "id": "hero_txt_align",
        "label": "Text Alignment",
        "options": [
          {
            "value": "text-center--desktop",
            "label": "Center"
          },
          {
            "value": "text-left--desktop",
            "label": "Left"
          },
          {
            "value": "text-right--desktop",
            "label": "Right"
          }
        ],
        "default": "text-left--desktop"
      },
      {
        "type": "select",
        "id": "hero_txt_align_mobile",
        "label": "Mobile Text Alignment",
        "options": [
          {
            "value": "text-center--mobile",
            "label": "Center"
          },
          {
            "value": "text-left--mobile",
            "label": "Left"
          },
          {
            "value": "text-right--mobile",
            "label": "Right"
          }
        ],
        "default": "text-left--mobile"
      },
      {
      	"type": "text",
      	"id": "hero_headline",
      	"label": "Headline"
      },
      {
      	"type": "textarea",
      	"id": "hero_text",
      	"label": "Text (optional)"
      },
      {
      	"type": "text",
      	"id": "hero_cta1_txt",
      	"label": "First CTA Text"
      },
      {
      	"type": "url",
      	"id": "hero_cta1_url",
      	"label": "First CTA Link"
      },
      {
      	"type": "text",
      	"id": "hero_cta2_txt",
      	"label": "Second CTA Text"
      },
      {
      	"type": "url",
      	"id": "hero_cta2_url",
      	"label": "Second CTA Link"
      }
  	],
    "presets": [
      {
        "category": "Media",
        "name": "UGC Hero Area"
      }
    ]
  }
{% endschema %}

{% javascript %}

{% endjavascript %}
